@charset "utf-8";

#wrapper {padding:20px 15px;}
#wrapper a {color: #267CB9;text-decoration: none;}
#wrapper header h1 a {font-size: 28px;}
#wrapper header p {margin-top:20px;font-size: 14px;}
#wrapper header p a small {font-size: 11px;color: #777;}

#wrapper > section {min-height:500px;border: solid #e5e5e5;border-width: 1px 0;padding: 20px 0;margin:20px 0 20px;}

#wrapper footer {font-size:14px;}
#wrapper footer p {margin-bottom:20px;}

