@charset "utf-8";

html,body,#wrap {height:100%;}
body {background:#000;}
#wrap {width:800px;padding-top:100px;margin:0 auto;background:#fff;border-left:1px solid #a1a1a1;border-right:1px solid #a1a1a1;}

.zoom_cont {overflow:hidden;width:603px;margin:0 auto;}
.zoom_cont > div {float:left;width:300px;height:300px;border:1px solid #000;border-left:0 none;}
.zoom_cont > div:first-child {border-left:1px solid #000;}
.zoom_cont .view01 {background:#000;}
.zoom_cont .view01 .wrap {position:relative;height:100%;margin:0 auto;}
.zoom_cont .view01 img {width:100%;}
.zoom_cont .view01 img.vertical {width:auto;height:100%;}
.zoom_cont .view01 .lens {display:none;position:absolute;top:0;left:0;width:96px;height:96px;border:2px solid #ff0000;background:rgba(255,255,255,0.5);cursor:move;}

.zoom_cont .view02 {display:none;position:relative;overflow:hidden;}
.zoom_cont .view02 img {position:absolute;top:0;left:0;}

.value {width:603px;margin:0 auto;padding-top:20px;}
.value > p {}
.value > p > span {display:inline-block;width:110px;}

