@charset "utf-8";
body {background:#e4e4e4;}
#wrap {width:1024px;margin:0 auto;}
.d_scroll {position:relative;overflow:hidden;margin-top:50px;height:310px;background:#fff;border:1px solid #000;}
.d_scroll .scroll_cont {position:relative;height:100%;margin-right:15px;}
.d_scroll .scroll_cont .content {position:absolute;top:0;left:0;width:100%;}
.d_scroll .scroll_cont .content h1 {font-size:20px;}
.d_scroll .scroll_cont .content ul li {margin-top:20px;}
.d_scroll .scroll_bar {position:absolute;top:0;right:0;width: 8px;height:100%;border-left:1px solid #000;}
.d_scroll .scroll_bar .move_bar {width:100%;height:50px;margin:0 auto;background:#000;cursor:pointer;position: relative;z-index: 100;}
.d_scroll .scroll_bar .line {position:absolute;top:0;left:0;z-index: 10;width:100%;height:100%;}

.mask {display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;z-index:100;opacity:0.1;cursor:pointer;}
