@charset "utf-8";

#wrap {width:1024px;margin:50px auto;}
#wrap > div + div {margin-top:50px;}
#wrap > div h1 {font-size:24px;margin-bottom:20px;}
#wrap > div h2 {font-size:16px;margin-bottom:10px;}
#wrap > div h3 {font-size:12px;margin-bottom:10px;font-weight:normal;}
#wrap .title_sub {margin-bottom:10px;}
#wrap .interval_list > li + li {margin-top:10px;}
.class_01 .ex04 .div {padding:20px;background-color:#ccc;}
.class_01 .ex04 .p {padding:20px;background-color:#aaa;}
.class_01 .ex04 span {display:block;padding:20px;background-color:#888;}
.class_01 .ex04 .span02 {background-color:#ccc;}
.class_01 .ex06 .mouse {height:100px;background:#ccc;}
.class_01 .ex06 .mouse p {margin-top:10px;font-size:20px;font-weight:bold;color:red;}
.class_01 .ex06 .wheel {height:100px;background:#888;}
.class_01 .ex07 .scroll01 > div {height:100px;width:500px;overflow:scroll;}
.class_01 .ex07 .scroll01 > div > div {height:500px;width:1000px;background:#888;}
.class_01 .ex07 .scroll02 > div {height:200px;overflow:scroll;}
.class_01 .ex07 .scroll02 > div > div {height:1000px;background:#ccc;}
.class_01 .ex07 .callback span {display:inline-block;width:200px;height:50px;line-height:50px;font-weight:bold;}

.class_02 .ex07 button {padding:5px 15px;}


@media all and (min-width:320px){
body.media{background:#e65d5d;}
}

@media all and (min-width:768px){
body.media{background:#2dcc70;}
}

@media all and (min-width:1024px){
body.media{background:#6fc0d1;}
}