@charset "utf-8";

@media all and (min-width:320px){
.media h1{color:#6fc0d1;text-shadow:2px 2px #000;}
}

@media all and (min-width:768px){
.media h1{color:#e65d5d;text-shadow:2px 2px #000;}
}

@media all and (min-width:1024px){
.media h1{color:#2dcc70;text-shadow:2px 2px #000;}
}