@charset "utf-8";

#wrap {/* position:relative; */width:1024px;margin:0 auto;}
#wrap > div {background:#e4e4e4;border:1px solid #000;}
#wrap > #header {background:none;border:0 none;}
#wrap > #header .wrap {width:1022px;background:wheat;border:1px solid #000;}
#wrap > #quick {background:sandybrown;}

#header {position:fixed;top:0;left:0;width:100%;height:200px;}
#header .wrap {width:1024px;height:100%;margin:0 auto;}
#container {height:2000px;margin-top:210px;}
#quick {position:absolute;top:210px;left:50%;margin-left:522px;width:200px;height:700px;}
#footer {height:400px;margin-top:10px;}